#wrapper{
	
	
	width: 70%;
	margin: 0px auto;
	padding: 10px;
	
	text-align: justify;
	
}
#group{
	border: 1px solid black; 
	padding: 10px;
	margin-bottom: 10px;

}
label{

	border: 1px solid red;
}
input[type='radio']{
	
}
#textarea1{
	width: 200px;
	height: 100px;
	resize: both;
	margin-bottom: 50px;
	
	min-height: 100px;
	max-height: 300px;
	
	min-width: 200px;
	max-width: 400px;
}
#textarea2{
	width: 200px;
	height: 100px;
	resize: none;
	margin-bottom: 50px;
}
#textarea3{
	width: 200px;
	height: 100px;
	resize: horizontal;
	
	margin-bottom: 50px;

}
#textarea4{
	width: 200px;
	height: 100px;
	resize: vertical;
}